<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- Red -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- Reproducción en segundo plano -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PLAYBACK" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <!-- PiP: mantener pantalla activa -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application>
        <activity
            android:name=".PlayerActivity"
            android:configChanges="orientation|screenSize|smallestScreenSize|screenLayout|keyboardHidden|uiMode"
            android:supportsPictureInPicture="true"
            android:autoRemoveFromRecents="false"
            android:launchMode="singleTask"
            android:resizeableActivity="true"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen"
            android:exported="false" />
    </application>
</manifest>
